.pokemon-detail-contents {
  background-image: url('../../../assets/main_bg_v15.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: top;
  background-color: #0a141e;
  height: 1700px;
}
